%body
  %header.header
    %p Hello, I am Hiro
    %ul
      %li= image_tag("/IMG_0351 3.jpeg")
      %li= image_tag("/IMG_0352.jpeg")
      %li= image_tag("/IMG_1049 3.jpeg")
      %li= image_tag("/IMG_1045.jpeg")
      %li= image_tag("/IMG_1258.jpg")


  %section#about.about
    %h1 PROFILE
    .text
      %p.main-p はじめまして。ホームページをご覧頂きありがとうございます。長野浩士（ながのひろし）と申します。
      %p.main-p2 美容師として7年間勤めた後、自分の価値観と視野を広げる為に、カナダでワーキングホリデーをしました。
      %p.main-p3 帰国後は現地で身につけた英語力＋コミュニケーション力を活かすためにホテルでの受付業務に携わりました。たくさんの外国人観光客を対応させて頂き、現地で学んだ事を充分に活かていたと実感しております。
      %p.main-p4 美容師は「ヘアスタイルを創りあげ、それを一人一人のお客様に提供する」webエンジニアもまた「アプリやシステムを制作しそれをお客様に納品する」意外にも似ているのではないかと感じました。
      %p.main-p5 現代の生活において、誰もが何かしらのアプリやシステムを使いながら日常を過ごしています。そんな誰かの日常生活に自分も役に立ちたいと思いました。
      %p.main-p6 もともと何かを作る事が好きな私。この業界に是非挑戦してみたいと思い、web系エンジニアとして社会に携わって行きたいと思っています。


  %section.works
    %h1 MY WORKS
    .works-box
      .chat-space
        .chat-space__photo= image_tag("/chat-space.png")
        .chat-space__label 
          = link_to "chat-space", "http://54.178.250.141/" 
      .mercari
        .mercari__photo= image_tag("/mercari.png")
        .mercari__label 
          = link_to "mercari", "http://18.179.224.213/" 
        .password
          user名：49_mercari_wb pass：49wb


  %section#contact.contact
    = image_tag("/IMG_0480.jpeg")
    .info-box
    .info-box__pic
      = image_tag("/IMG_0598.JPG")
    .skill
      .can-do
        %p What I can do 
      .logos
        = image_tag("/js-logo.png") 
        = image_tag("/jquery-logo.png")
      .logos-2
        = image_tag("/ruby-logo.png")
        = image_tag("/rails_logo.png")
        = image_tag("/AWS-logo.jpeg")
        
    .profile
      %p.name ~ Hiroshi Nagano ~
      %p.from [ Hometown ]：京都府長岡京市
      %p.like [ What I like ]：テニス・海外旅行・英語での外国の方とのコミュニケーション・ゲーム（ドラクエ・FF・無双シリーズ・スパロボ etc)・洋楽やアニメも好きです。
      %p.comment プログラミングは自分にとって決して簡単なものではなく、むしろ挑戦的な分野であります。しかしそれと同時に、やっているとおもしろくて夢中になれるものでもある所が大変魅力的だと感じています。現在は習った言語をさらに理解できる様に日々奮闘中です。また他の言語もこれからどんどん勉強していきたいと思っています！テクノロジーの発展が著しい今日において、常に何かに挑戦し、成長を続けていく姿勢が大事だと強く感じます。

